In [6]:
import pandas as pd
# Assuming your Excel files are named file1.xlsx, file2.xlsx, file3.xlsx, and file4.xlsx
file_paths = [
    r'C:\Users\nishi\OneDrive\Desktop\mentions\pratham_comments_edited.xlsx', 
    r'C:\Users\nishi\OneDrive\Desktop\mentions\Viraj_comments.xlsx', 
    r'C:\Users\nishi\OneDrive\Desktop\mentions\BN_comments.xlsx', 
]

# Create an empty DataFrame to store the merged data
dfs = []

# Loop through each file and append its data to the dfs list
for file_path in file_paths:
    df = pd.read_excel(file_path)
    dfs.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
merged_data = pd.concat(dfs, ignore_index=True)

# Save the merged data to a new Excel file
merged_data.to_excel('Shoes_comments.xlsx', index=False)

# Display the merged_data DataFrame
merged_data

,Unnamed: 0,comments,influencers,Comments,Mentions
0,0.0,!!!! ü§ç,['wang_shuang7'],NaN,NaN
1,1.0,""" THEY SAY THAT MONEY MOVES THE WORLD. BUT I B...",['nzfootballferns'],NaN,NaN
2,2.0,"""Be kind, be inclusive"" while celebrating the ...",['joanbenoitsamuelson'],NaN,NaN
3,3.0,"""DCW team was struggling¬†\nat 35/3 as¬†Issy Won...",['__vastrakarp11__'],NaN,NaN
4,4.0,# patrocinao Juninhomanella,"['keishaballa', 'wang_shuang7']",NaN,NaN
...,...,...,...,...,...
26075,NaN,NaN,NaN,üòÉ,['bombaymode']
26076,NaN,NaN,NaN,@CLICK_HERE_237_FR33_FOLLOWERS @CLICK_HERE_23...,['bombaymode']
26077,NaN,NaN,NaN,üî•üî•,['the.vestiary']
26078,NaN,NaN,NaN,nice.,"['highstreetphoenix', 'hushpuppies_in']"
26079,NaN,NaN,NaN,üëå,"['highstreetphoenix', 'hushpuppies_in']"